<!-- Container -->
<div class="container">
    <!-- Breadcrum -->
    <div class="row">
        <div class="col-xs-12">
           <ul class="breadcrumb">
               <li><a href="index.html">Home</a></li>
               <li>Movies</li>
               <li class="active">Video gallery</li>
           </ul>
        </div>
        <div class="col-xs-12">
           <h3>Video gallery</h3>
        </div>
    </div>
 
	<div class="row row-content-cards">
		<div class="col-xs-12 col-sm-9"> 
			<div class="form-group">
				<label class="col-sm-3 control-label label-title" for="search">Search movie:</label>
				<div class="col-sm-9">
					<input type="text" class="form-control" placeholder="Search movie" ng-model="filtText.title">
				</div>
			</div>
		</div>
	</div>
   
	<div class="container-fluid cards-row">
		<div calss="hover-effect">
			<div class="col-sm-6 col-md-4" ng-repeat="movie in movies | filter:filtText">
				<div class="hover-div">
		    		<div class="thumbnail">
		      			<img ng-src={{movie.cover}} alt="{{movie.alt}}" >
		      			<div class="caption">
		        			<h3>{{movie.title}}</h3>
		        			<p class="card-description"><strong>{{movie.genre.join(', ')}}</strong></p>
		        			<div class="titlewraptext">
		        				{{movie.plot}}
		        			</div>
		        			<p><a href="#" class="btn btn-primary" role="button">Details</a></p>
		      			</div>
		    		</div>
		  		</div>
			</div>
		</div>	
	</div>

</div>